:root {
  --main-black: #212121;
  --main-grey: #757575;
  --main-blue: #2196f3;
  --main-white: #ffffff;
  --footer-grey: rgba(255, 255, 255, 0.6);
  --header-border: #ececec;
  --members-background: #f5f4fa;
  --hero-button-hover: #188ce8;
  --button-nohover: #f5f4fa;
  --portfolio-border: #eeeeee;
  --icons-features-bgr: #f5f4fa;
  --icon-social-fill: #afb1b8;
  --font-main: Roboto, sans-serif;
  --font-secondary: Raleway, sans-serif;
  --item: 1;
  --indent: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  font-style: normal;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

body {
  font-family: var(--font-main);
  color: var(--main-black);
  letter-spacing: 0.03em;
}

body.no-scroll {
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.grid__item {
  flex-basis: calc((100% - var(--indent) * (var(--item) - 1)) / var(--item));
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  font-family: var(--font-secondary);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__blue {
  color: var(--main-blue);
}

.logo__black {
  color: var(--main-black);
}

.logo__white {
  color: var(--main-white);
}

.header {
  padding: 10px 0;
  border-bottom: 1px solid var(--header-border);
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.header__burger-btn {
  position: relative;
  z-index: 100;
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__burger-btn:hover, .header__burger-btn:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .header__burger-btn {
    display: none;
  }
}

.header__burger-btn .header__icon-cross {
  opacity: 0;
}

.header__burger-btn.is-open .header__icon-cross {
  opacity: 1;
}

.header__burger-btn.is-open .header__icon-burger {
  opacity: 0;
}

.header__nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: block;
    margin-left: 88px;
  }
}

.site-nav {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-black);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--main-blue);
}

.site-nav__link--active {
  color: var(--main-blue);
  position: relative;
}

.site-nav__link--active::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--main-blue);
}

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    gap: 50px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--main-grey);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--main-blue);
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__icon {
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .contacts__icon--mail {
    width: 14px;
    height: 10px;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__icon--tel {
    width: 10px;
    height: 14px;
  }
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  text-align: center;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile-480.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile-960@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet-768.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet-1536@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero@2x.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  padding: 9px 31px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--main-blue);
  color: var(--main-white);
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: var(--hero-button-hover);
}

.backdrop {
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-group {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 450px;
  background-color: var(--main-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .modal-group {
    transform: translate(-50%, -50%) scale(0.89);
  }
}

@media screen and (min-width: 1200px) {
  .modal-group {
    max-width: 528px;
  }
}

.backdrop.is-hidden .modal-group {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal-group__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-group__close-btn:hover, .modal-group__close-btn:focus {
  fill: var(--main-blue);
}

.modal-group__close-object {
  padding-top: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

.form__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-black);
}

@media screen and (min-width: 1200px) {
  .form__title {
    line-height: 1.15;
  }
}

.form-group__label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group__label:nth-child(4) {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .form-group__label {
    width: 440px;
  }
}

.form-group__subtitle {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-grey);
}

.form-group__input {
  padding: 11px 11px 11px 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}

.form-group__input:focus {
  border: 1px solid var(--main-blue);
}

.form-group__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-group__input:focus + .form-group__icon {
  fill: var(--main-blue);
}

.form-group__textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-group__textarea:focus {
  border: 1px solid var(--main-blue);
}

.form-group__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-group {
  color: var(--main-grey);
}

.form-group__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .form-group__checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-group__checkbox .form-group__policy-link {
  color: var(--main-blue);
  text-decoration: underline;
}

.form-group__checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.form-group__checkbox-check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-black);
  border-radius: 2px;
  transition: border-color 250ms ease, background-color 250ms ease;
}

.form-group__checkbox-input:checked ~ .form-group__checkbox-check {
  background-color: var(--main-blue);
  border-color: transparent;
}

.form-group__checkbox-icon {
  flex-shrink: 0;
  fill: transparent;
  transition: fill 250ms ease;
}

.form-group__checkbox-input:checked ~ .form-group__checkbox-check .form-group__checkbox-icon {
  fill: var(--main-white);
}

.form-group__submit-btn {
  display: block;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-white);
  background-color: var(--main-blue);
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-group__submit-btn:hover, .form-group__submit-btn:focus {
  background-color: var(--hero-button-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .features-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features-list__background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  text-align: center;
  background-color: var(--icons-features-bgr);
}

.features-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-black);
}

@media screen and (min-width: 768px) {
  .features-list__title {
    text-align: left;
  }
}

.features-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-grey);
}

.works {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}

.works__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-black);
}

.works-list {
  display: flex;
}

.works-list__item {
  position: relative;
  margin-right: 30px;
}

.works-list__item:nth-child(3n) {
  margin-right: 0;
}

.works-list__text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 27px 80px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--members-background);
}

.team__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-black);
}

.team-list__item {
  background-color: var(--main-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    --item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    --item: 4;
  }
}

.member {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .member {
    padding-bottom: 30px;
  }
}

.member__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-black);
}

.member__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-grey);
}

.member-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.member-social__item {
  margin-right: 10px;
}

.member-social__item:last-child {
  margin-right: 0;
}

.member-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--main-white);
  border-radius: 50%;
  color: var(--icon-social-fill);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-social__link:hover, .member-social__link:focus {
  background-color: var(--main-blue);
  color: var(--main-white);
}

.member-social__icon {
  display: block;
  fill: currentColor;
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-black);
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients-list {
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .clients-list {
    margin-top: 50px;
  }
}

.clients-list__item {
  --item: 2;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    --item: 3;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    --item: 6;
  }
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon-social-fill);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  color: var(--main-blue);
  border: 1px solid var(--main-blue);
}

.clients-list__icon {
  display: block;
  fill: currentColor;
}

.portfolio-nav {
  display: flex;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-bottom: -15px;
}

@media screen and (min-width: 768px) {
  .portfolio-nav {
    justify-content: center;
  }
}

.portfolio-nav__item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.portfolio-nav__button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  border: transparent;
  background-color: var(--button-nohover);
  color: var(--main-black);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-nav__button:hover, .portfolio-nav__button:focus {
  color: var(--main-white);
  background-color: var(--main-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* cards */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    justify-content: flex-start;
    margin-top: 30px;
    --item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list {
    margin-top: 50px;
    --item: 3;
  }
}

.portfolio-list__item {
  display: flex;
  background-color: var(--main-white);
}

.portfolio-list__link {
  display: flex;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__link:hover, .portfolio-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-list__description {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--main-white);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .portfolio-list__description {
    font-size: 14px;
    padding: 30px 24px;
  }
}

.portfolio-list__link:hover .portfolio-list__description {
  transform: translateY(0);
}

.portfolio-list__link:focus .portfolio-list__description {
  transform: translateY(0);
}

.portfolio-list__preview {
  flex-grow: 1;
  border: 1px solid var(--portfolio-border);
  border-top: none;
  padding: 20px 24px;
}

.portfolio-list__project {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-black);
}

.portfolio-list__type {
  font-size: 16px;
  line-height: 1.8;
  color: var(--main-grey);
}

.footer {
  background-color: #2f303a;
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    justify-content: flex-start;
  }
}

.footer__logo {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    text-align: start;
  }
}

.footer__adress-group {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__adress-group {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1199px) {
  .adress {
    text-align: center;
  }
}

.adress__item {
  margin-bottom: 8px;
}

.adress__link {
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__link:hover, .adress__link:focus {
  color: var(--main-blue);
}

.adress__mail,
.adress__tel {
  color: var(--footer-grey);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__mail__mail:hover, .adress__mail__tel:hover,
.adress__tel__mail:hover,
.adress__tel__tel:hover {
  color: var(--main-blue);
}

.adress__mail__mail:focus, .adress__mail__tel:focus,
.adress__tel__mail:focus,
.adress__tel__tel:focus {
  color: var(--main-blue);
}

.footer-social {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-social {
    margin-left: 165px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-bottom: 0;
    text-align: start;
    margin-left: 70px;
  }
}

.footer-social__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white);
}

@media screen and (min-width: 768px) {
  .footer-social__title {
    align-items: baseline;
  }
}

.footer-social__list {
  display: flex;
  justify-content: center;
}

.footer-social__item {
  margin-right: 10px;
}

.footer-social__item:last-child {
  margin-right: 0;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--main-white);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--main-blue);
}

.footer-social__icon {
  fill: var(--main-white);
}

.footer-form {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .footer-form {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: auto;
  }
}

.footer-form__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white);
}

@media screen and (min-width: 768px) {
  .footer-form__title {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__title {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__group {
    display: flex;
  }
}

.footer-form__input {
  margin-bottom: 20px;
  padding: 15px 15px;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__input:focus {
  border: 1px solid var(--main-blue);
  outline: transparent;
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    margin-bottom: 0;
    margin-right: 12px;
    width: 358px;
  }
}

.footer-form__button {
  padding: 10px 28px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--main-white);
  background-color: var(--main-blue);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__button:hover, .footer-form__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form__icon {
  margin-left: 10px;
  fill: var(--main-white);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 48px 40px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 250ms ease;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  transition: font-size 450ms ease;
}

@media screen and (max-width: 479px) {
  .mobile-menu__link {
    font-size: 34px;
  }
}

.mobile-menu__link.current-link {
  color: #2196f3;
}

.mobile-menu__contacts {
  margin-top: auto;
  margin-bottom: 64px;
}

.mobile-menu__contact:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contact-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  transition: font-size 450ms ease;
}

.mobile-menu__contact-phone {
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .mobile-menu__contact-phone {
    font-size: 34px;
  }
}

.mobile-menu__socials {
  display: flex;
  flex-wrap: wrap;
}

.mobile-menu__social {
  display: flex;
  transition: margin-right 450ms ease;
}

@media screen and (max-width: 479px) {
  .mobile-menu__social {
    margin-bottom: 10px;
  }
}

.mobile-menu__social:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 479px) {
  .mobile-menu__social:not(:last-child) {
    margin-right: 5px;
  }
}

.mobile-menu__social:not(:last-child)::after {
  content: '';
  display: block;
  margin-left: 10px;
  width: 1px;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
  transition: margin-left 450ms ease;
}

@media screen and (max-width: 479px) {
  .mobile-menu__social:not(:last-child)::after {
    margin-left: 5px;
  }
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  transition: font-size 450ms ease;
}

@media screen and (max-width: 479px) {
  .mobile-menu__social-link {
    font-size: 12px;
  }
}
/*# sourceMappingURL=main.css.map */