.header-container {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: block;
  font-size: 32px;
  font-style: var(--italic);

  color: var(--main-white);
}

.header-nav {
  margin-left: 310px;

  @media (orientation: portrait) {
    margin-left: 60px;
  }

  @media screen and(min-width: 1440px) {
    margin-left: 360px;
  }
}

.logo span {
  text-decoration: underline;
}

.header-nav-list {
  display: flex;
  gap: 40px;

  @media (orientation: portrait) {
    gap: 20px;
  }
}

.header-nav-item {
  font-size: 18px;
  font-weight: var(--bold);
}

.header-nav-item a {
  color: var(--main-dark);

  transition: 0.3s;

  @media (orientation: portrait) {
    color: var(--main-white);
    font-size: 16px;
  }
}

.header-nav-item:hover a {
  color: var(--main-blue);
}

.burger {
  display: block;
  margin-left: auto;

  cursor: pointer;

  transition: 0.3s;

  @media (orientation: portrait) {
    fill: var(--main-white);

    transform: scale(0.8);
  }
}

.burger:hover {
  fill: var(--main-blue);
}
