.hero-wrapper {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.hero-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  margin-right: 2%;
  width: 57%;

  @media screen and(min-width: 1440px) {
    margin-top: 250px;
    width: 60%;
    margin-left: auto;
    // margin-right: 23%;

    display: flex;
    flex-direction: column;
  }
}
.hero-title {
  font-size: var(--main-title);
  font-weight: var(--black);
  line-height: 0.97;
  width: 80%;
  color: var(--secondary-dark);

  @media screen and(min-width: 1440px) {
    width: 600px;
  }
}
.hero-text {
  font-size: var(--main-body-text);
  font-weight: var(--regular);
  line-height: 1.6;

  color: var(--secondary-dark);

  @media screen and(min-width: 1440px) {
    margin-top: 20px;
    width: 80%;
  }
}
.hero-button {
  padding: 15px 0;
  margin-top: 40px;
  width: 160px;

  background-color: var(--main-blue);
  font-size: var(--button-text);
  font-weight: var(--extra-bold);

  border: none;

  color: var(--main-white);

  cursor: pointer;

  transition: 0.3s;

  &:hover {
    filter: brightness(1.1);
  }
}
