.team {
  background-color: var(--members-background);
}

.team__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-black);
}

// .team-list {
//   // display: flex;
//   // flex-wrap: wrap;
//   // gap: 30px;
// }

.team-list__item {
  background-color: var(--main-white);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and(min-width:768px) {
    --item: 2;
  }

  @media screen and(min-width:1200px) {
    --item: 4;
  }
}

// Members //

.member {
  padding-top: 30px;
  padding-bottom: 24px;

  @media screen and(min-width:1200px) {
    padding-bottom: 30px;
  }
}

.member__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--main-black);
}

.member__position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-grey);
}

.member-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.member-social__item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.member-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--main-white);
  border-radius: 50%;
  color: var(--icon-social-fill);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--main-blue);
    color: var(--main-white);
  }
}

.member-social__icon {
  display: block;
  fill: currentColor;
}
