.contacts {
  display: none;

  @media screen and(min-width:768px) {
    display: flex;
    flex-direction: column;

    gap: 10px;

    margin-left: auto;
  }

  @media screen and(min-width:1200px) {
    flex-direction: row;

    gap: 50px;
  }
}

.contacts__item {
}

.contacts__link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: var(--main-grey);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--main-blue);
  }

  @media screen and(min-width:1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__icon {
  margin-right: 8px;
  fill: currentColor;
}

.contacts__icon--mail {
  @media screen and(max-width:1199px) {
    width: 14px;
    height: 10px;
  }
}

.contacts__icon--tel {
  @media screen and(max-width:1199px) {
    width: 10px;
    height: 14px;
  }
}
