:root {
  --main-black: #212121;
  --main-grey: #757575;
  --main-blue: #2196f3;
  --main-white: #ffffff;
  --footer-grey: rgba(255, 255, 255, 0.6);
  --header-border: #ececec;
  --members-background: #f5f4fa;
  --hero-button-hover: #188ce8;
  --button-nohover: #f5f4fa;
  --portfolio-border: #eeeeee;
  --icons-features-bgr: #f5f4fa;
  --icon-social-fill: #afb1b8;

  --font-main: Roboto, sans-serif;
  --font-secondary: Raleway, sans-serif;

  --item: 1;
  --indent: 30px;
}
