:root {
  --main-dark: #060608;
  --secondary-dark: #000928;
  --main-white: #ffffff;
  --main-blue: #2372d5;

  --font-main: 'Poppins', sans-serif;
  --italic: italic;
  --black: 900;
  --extra-bold: 800;
  --bold: 700;
  --regular: 400;

  --main-title: 94px;
  --main-body-text: 20px;
  --button-text: 14px;
  --nav-item-text: 15px;

  --item: 1;
  --indent: 30px;
}
